extends layout

block header
    link(rel="stylesheet", href="/stylesheets/home.css")

block content
    h5 Welcome to Library Management System
    h6 Select one of the menus on the left to begin
    p#site-info This site is fully designed and implemented by Pitaya Zhu.